/target
gameboy_emulator/target
bios.bin
pkg
frontends/web/node_modules
frontends/web/src/core
frontends/web/build
frontends/web/.env.local
frontends/web/.env.development.local
frontends/web/.env.production.local
